.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 3px solid rgb(0, 33, 52);
  padding: 10px 20px; /* Reduced padding */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  color: rgb(0, 33, 52);
  font-size: 1.5rem;
  padding: 1rem;
}

.nav-btn {
  background: none;
  border: none;
  color: rgb(0, 33, 52);
  padding: 1rem;
  cursor: pointer;
}

.nav-btn:focus {
  outline: none;
}
